<h1> Latest Quotes for <%= @ticker %> </h2>
<h2> The last trading price is <%= @last_trade_price %></h2>
<h2> The last trading price is <%= @earnings_per_share %></h2>
<h2> The dividend per share is <%= @dividend_per_share %></h2>
<h2> The change from 52 week high is <%= @change_from_52_high %></h2>
<h2> The change from 52 week low is <%= @change_from_52_low %></h2>
